* {
    margin: 0;
    padding: 0;
}

body {
    opacity: 1;
    background: #09090A;
    color: #f8f8f8;
}

body, input, button, textarea {
 font: 400 16px 'Roboto', sans-serif;
}

.container {
    margin-top: 15rem;
    @media (max-width: 767px)  {
        margin-top: 3rem;
    }
}

.container-client {
    // margin-top: 3rem;
    margin-top: 3rem;
    @media (max-width: 767px)  {
        margin-top: 3rem;
    }
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a {
        text-decoration: none;
        color: #FFF;
    }
}

.navMain {
    background: #835afd;
    height: 50px;
    span img {
        margin-right: .1rem;
    }
    .logout{
        cursor: pointer;
    }
    .logotipo{
        width: 3rem;
        float: left;
        padding-top: .1rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    img {
        width: 1.75rem;
        float: right;
        padding-top: .6rem;
        margin-right: 1rem;
    }
    p {
        float: right;
        padding-right: 2rem;
        padding-top: .95rem;
        color: #FFF;
        font-size: 16px;
        font-weight: bold;
    }
}

.menu-slider-card__slider-card {
    background-color: rgb(43, 42, 42);

    border-radius: 10px;
    padding: 50px 50px;
    height: 200px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid rgb(43, 42, 42);
}

.topoForm {
    padding-top: 4rem;
}

.tituloPagina {
    padding-top: 6rem;
}

.title-clients {
    color: black;
    width: 90%;
    background-color: #FFF;
    margin-left: auto;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    p {
        float: left;
        padding-left: 2rem;
        padding-top: 0.6rem;
        color: rgb(43, 42, 42);
        font-size: 25px;
        font-weight: bold;
        border-width: medium
    }
}

.box {
    background-color: #FFF;
    padding-top: 47px;
}