.table-settings {
    height: 400px;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.title-insert {
    color: black;
    height: 45px;
    width: 90%;
    background-color: #FFF;
    margin-left: auto;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    p {
        float: left;
        padding-left: 2rem;
        padding-top: 0.95rem;
        color: rgb(43, 42, 42);
        font-size: 16px;
        font-weight: bold;
    }
}
